@inherits ComponenteTab
@if(display)
{
    <div class="contenedor-tab">
        @if (SedesTercero.Count > 0)
        {
            <div class="contenedor-grid">
                <div class="contenedor-tabla">
                    <table class="table">
                        <thead>
                            <tr>
                                @foreach (var elemento in elementosCabecera)
                                {
                                    <th scope="col" class="text-center">
                                        <label class="form-label">@elemento</label>
                                    </th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < SedesTercero.Count; i++)
                            {
                                var currenIndex = i;
                                var sede = SedesTercero[i];
                                <tr class="@sede.ClaseCss cursor-pointer-elemento" @onclick="()=> FijarSede(currenIndex)">
                                    <th scope="row" class="text-center cursor-pointer-elemento">
                                        <label class="form-label cursor-pointer-elemento">
                                            @sede.Id
                                        </label>
                                    </th>
                                    <td class="text-center cursor-pointer-elemento">
                                        <label class="form-label cursor-pointer-elemento">
                                            @sede.Responsable
                                        </label>
                                    </td>
                                    <td class="text-center cursor-pointer-elemento">
                                        <label class="form-label cursor-pointer-elemento">
                                            @sede.Telefono
                                        </label>
                                    </td>
                                    <td class="text-center cursor-pointer-elemento">
                                        <label class="form-label cursor-pointer-elemento">
                                            @sede.Email1
                                        </label>
                                    </td>
                                    <td class="text-center cursor-pointer-elemento">
                                        <label class="form-label cursor-pointer-elemento">
                                            @sede.Email2
                                        </label>
                                    </td>
                                    @if (sede.Ubicacion.DepartamentoProvincia is not null)
                                    {
                                        <td class="text-center cursor-pointer-elemento">
                                            <label class="form-label cursor-pointer-elemento">
                                                @sede.Ubicacion.DepartamentoProvincia.Nombre
                                            </label>
                                        </td>
                                    }
                                    else
                                    {
                                        <td class="text-center">
                                            <label class="form-label">
                                                No hay asignación para este campo
                                            </label>
                                        </td>

                                    }
                                    @if (sede.Ubicacion.Ciudad is not null)
                                    {
                                        <td class="text-center cursor-pointer-elemento">
                                            <label class="form-label cursor-pointer-elemento">
                                                @sede.Ubicacion.Ciudad.Nombre
                                            </label>
                                        </td>
                                    }
                                    else
                                    {
                                        <td class="text-center cursor-pointer-elemento">
                                            <label class="form-label cursor-pointer-elemento">
                                                No hay asignación para este campo
                                            </label>
                                        </td>

                                    }
                                    <td class="text-center cursor-pointer-elemento">
                                        <label class="form-label cursor-pointer-elemento">
                                            @sede.Direccion
                                        </label>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>

            </div>

            
        }
        else
        {
            <h2>No hay sedes asignadas</h2>
        }

    </div>
    

    
}

@code {
    [CascadingParameter(Name = "sedesTercero")]
    public List<SedeInterfazGraficaTerceroDTO> SedesTercero { get; set; }
    public SedeInterfazGraficaTerceroDTO SedeSeleccionada { get; set; }
    private List<string> elementosCabecera = new List<string> { "Id", "Reponsable", "Telefono","Email 1", "Email 2", "Departamento(Estado)", "Municipio(Provincia)", "Direccion"};
    private int indiceFijado = 0;

    protected override Task OnInitializedAsync()
    {
        display = true;
        return base.OnInitializedAsync();
    }

    private void FijarSede(int indice)
    {
        if (SedesTercero.Count > 0)
        {
            SedesTercero[indiceFijado].ClaseCss = string.Empty;
            indiceFijado = indice;
            SedeSeleccionada = SedesTercero[indice];
            SedeSeleccionada.ClaseCss = "table-info";
        }
          

    }
}
