@using System.Numerics;
@using EntidadesNegocio.EntidadesDto;
@inject AreaService AreaService;
@inject PlantaService PlantaService;

<div class="contenedor-bloque col-lg-12">
    @if (ListAreas == null)
    {
        <p>Cargando...</p>
    }
    else if (ListAreas.Count == 0)
    {
        <p class="pt-3">No se han registrado áreas para esta planta</p>
    }
    else
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var p in ListAreas)
                {
                    <tr>
                        <td>@p.id</td>
                        <td>@p.nombre</td>
                        <td><button class="btn btn-primary" @onclick="() => AbrirModalEditar(p)"><i class="oi oi-pencil"></i></button></td>
                        <td><button class="btn btn-danger" @onclick="() => AbrirModalBorrar(p.id)"><i class="oi oi-x"></i></button></td>
                        <td><buton class="btn btn-info" @onclick="() => AbrirModalInformacion(p)"><i class="oi oi-info"></i></buton></td>
                    </tr>
                }
            </tbody>
        </table>
    }

</div>
<br />

 @if (modalEliminar)
    {
        <div class="modal" tabindex="-1" style="display:block">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Confirmar eliminación</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @onclick=CerrarModal></button>
                    </div>
                    <div class="modal-body">
                        <p>¿Desea eliminar el área con ID @ID?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" @onclick=CerrarModal>Cancelar</button>
                        <button type="button" class="btn btn-success" @onclick=BorrarArea>Eliminar</button>
                    </div>
                </div>
            </div>
        </div>
    }

@if (modalEditar)
{
    <div class="modal" tabindex="-1" style="display:block">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Actualización de datos</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @onclick=CerrarModal></button>
                </div>
                <div class="modal-body">
                    <h5><strong>Área ID @AreaDTO.id</strong></h5>

                    <EditForm Model="AreaDTO">
                        <DataAnnotationsValidator />

                        <div class="form-group">
                            <label for="nombre">Nombre: </label>
                            <input type="text" class="form-control" id="nombre" @bind="AreaDTO.nombre">
                        </div>

                        <div class="form-group">
                            <label class="required-field" for="responsable">Responsable: </label>
                            <input type="text" class="form-control" id="responsbale" @bind="AreaDTO.responsable">
                        </div>

                        <div class="form-group">
                            <label for="telefonoContacto">Teléfono: </label>
                            <input type="text" class="form-control" id="telefonoContacto" @bind="AreaDTO.telefonoContacto">
                        </div>

                        <div class="form-group">
                            <label for="emailContacto">Email: </label>
                            <input type="email" class="form-control" id="emailContacto" @bind="AreaDTO.emailContacto">
                        </div>

                        <div class="form-group">
                            <label for="descripcion">Descripción: </label>
                            <textarea class="form-control" id="descripcion" name="descripcion" rows="5" @bind="AreaDTO.descripcion"></textarea>
                        </div>


                        <br /> <button type="submit" class="btn btn-primary" @onclick=Guardar>Editar Área</button>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" @onclick=CerrarModal>Cancelar</button>

                    </EditForm>

                </div>

            </div>
        </div>
    </div>
}

@if (modalInformacion)
{
    <div class="modal" tabindex="-1" style="display:block">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Información registrada</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @onclick=CerrarModal></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-4 mb-3">
                            <div class="form-group">
                                <label for="nombre">ID: </label>
                                <input type="text" class="form-control" id="id" value="@AreaDTO.id" readonly>
                            </div>
                        </div>

                        <div class="col-sm-8 mb-3">
                            <div class="form-group">
                                <label for="nombre">Nombre: </label>
                                <input type="text" class="form-control" id="nombre" value="@AreaDTO.nombre" readonly>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="required-field" for="responsable">Responsable: </label>
                        <input type="text" class="form-control" id="responsbale" value="@AreaDTO.responsable" readonly>
                    </div>

                    <div class="form-group">
                        <label for="telefonoContacto">Teléfono: </label>
                        <input type="text" class="form-control" id="telefonoContacto" value="@AreaDTO.telefonoContacto" readonly>
                    </div>

                    <div class="form-group">
                        <label for="emailContacto">Email: </label>
                        <input type="email" class="form-control" id="emailContacto" value="@AreaDTO.emailContacto" readonly>
                    </div>

                    <div class="form-group">
                        <label for="descripcion">Descripción: </label>
                        <textarea class="form-control" id="descripcion" rows="5" value="@AreaDTO.descripcion" readonly/>
                    </div>
                </div>

            </div>
        </div>
    </div>
}

@code {
    private List<AreaDTO> ListAreas;
    private bool modalEliminar= false;
    private bool modalEditar = false;
    private bool modalInformacion = false;
    private BigInteger ID = 0;

    AreaDTO AreaDTO = new AreaDTO();

    protected override async Task OnInitializedAsync()
    {
        ListAreas = await PlantaService.ListarAreas();        
    }

    private void CerrarModal()
    {
        modalEliminar = false;
        modalEditar = false;
        modalInformacion = false;
    }

    //LLAMADOS A MÉTODOS EN SERVICE

    protected async Task BorrarArea()
    {
        await PlantaService.BorrarAreasProceso(ID);
        modalEliminar = false;
        ListAreas = await PlantaService.ListarAreas();
    }

    protected async Task Guardar()
    {
        await PlantaService.EditarAreasProceso(AreaDTO);
        modalEditar = false;
        ListAreas = await PlantaService.ListarAreas();
    }

    //MODALES
    private void AbrirModalBorrar(BigInteger id)
    {
        modalEliminar = true;
        ID = id;
    }

    private void AbrirModalEditar(AreaDTO area)
    {
        modalEditar = true;
        AreaDTO = area;
    }


    private void AbrirModalInformacion(AreaDTO area)
    {
        modalInformacion = true;
        AreaDTO = area;
    }
}
