@inject UsuarioService usuarioService

<h3>Configuracion de permisos para empresas</h3>

<div class="row">
    <div class="col-md-9 mt-3">
        <div class="input-group">
            <label class="input-group-text">Empresa</label>
            <InputNumber class="form-control inp-cliente" id="id-cliente" @bind-Value="identificacionEmpresa" disabled />
            <InputText class="form-control" disabled @bind-Value="nombreEmpresa" />
            <span class="btn btn-outline-dark" @onclick="MostrarComponenteTerceros"><i class="fa-solid fa-user"></i></span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6 mt-3">
        <div class="input-group">
            <label class="input-group-text">Usuario asignado:</label>
            <InputText class="form-control" disabled @bind-Value="usuarioEmpresaDTO.Email" />
        </div>
    </div>
</div>


@if (!string.IsNullOrWhiteSpace(usuarioEmpresaDTO.Email))
{
    <div class="shadow-lg p-3 rounded mt-5 mb-5">
        <h3 class="mt-3 text-center">Politicas de acceso de usuario</h3>
        <div class="row mt-3">
            @for (int i = 0; i < PoliticasParaUsuarioEmpresa.Count; i++)
            {
                var politica = PoliticasParaUsuarioEmpresa[i];
                <div class="col-md-6 mt-3">

                    <div class="input-group">
                        <div class="input-group-text">
                            @if (PoliticasDelUsuarioEmpresa.Any(pol => pol.Id == politica.Id && pol.PoliticaExistente && pol.Seleccionada))
                            {

                                <input type="checkbox" checked @onclick="()=>CargarPoliticaDeUsuario(politica)" class="form-check-input mt-0" id="@($"politica_{i}")" />

                            }
                            else
                            {
                                <input type="checkbox" checked="@PoliticasDelUsuarioEmpresa.Any(pol => pol.Id == politica.Id && pol.PoliticaNueva && pol.Seleccionada)" @onclick="()=>CargarPoliticaDeUsuario(politica)" class="form-check-input mt-0" id="@($"politica_{i}")" />
                            }
                        </div>
                        <label for="@($"politica_{i}")" class="form-control">@politica.Nombre</label>
                    </div>
                </div>

            }


        </div>
        <button class="btn btn-success mt-4" @onclick="ConfigurarPoliticas">Congifurar politicas</button>
        <button class="mt-3 me-5" @onclick="Verificar">Verificar</button>
    </div>
    
}


@if (empresaDTO is not null && string.IsNullOrWhiteSpace(usuarioEmpresaDTO.Email))
{
    <div class="shadow-lg p-3 rounded mt-5 w-50">
        <h3 class="mt-3 text-center">Registro de usuarios</h3>

        <EditForm Model="usuarioNuevo" OnValidSubmit="RegistrarUsuario">
            <DataAnnotationsValidator></DataAnnotationsValidator>
            <div class="row mt-5">
                <label class="col-xs-12 col-sm-4 col-md-3  col-form-label mt-3" for="usuario">Usuario: </label>
                <div class="col-xs-12 col-sm-8  col-md-9 mt-3">
                    <InputText @bind-Value="usuarioNuevo.Email" class="form-control" id="usuario" />
                    <ValidationMessage class="font-error font-txt" For="()=> usuarioNuevo.Email" />
                </div>
            </div>
            <div class="row">
                <label class="col-xs-12 col-sm-4 col-md-3  col-form-label mt-3" for="passwd">Contraseña: </label>
                <div class="col-xs-12 col-sm-8  col-md-9 mt-3">
                    <input type="password" @bind-value="usuarioNuevo.Password" class="form-control" id="passwd" />
                    <ValidationMessage class="font-error font-txt" For="()=> usuarioNuevo.Password" />
                </div>
            </div>
            <button type="submit" class="btn btn-outline-success">Registrar</button>
        </EditForm>
    </div>
}




<ComponenteTerceros TipoTercero="@ParametrosComponenteTerceros.EMPRESA" Origen="@ParametrosComponenteTerceros.COMPONENTE_MODAL" CargarTerceroEvent="CargarEmpleadoDesdeComponenteTerceros" @ref="componenteTerceros" />
<ModalConfirmacion @ref="modalConfirmacion" />

@code {
    private string nombreEmpresa = string.Empty;
    private long identificacionEmpresa = 0;
    private ComponenteTerceros? componenteTerceros;
    private ModalConfirmacion? modalConfirmacion;
    private TerceroInterfazGraficaDTO empresaDTO;
    private DetalleUsuarioDTO usuarioEmpresaDTO = new DetalleUsuarioDTO();
    private UserDTO usuarioNuevo = new UserDTO();
    private List<PoliticasAccesoDTO> PoliticasParaUsuarioEmpresa = new List<PoliticasAccesoDTO>();
    private List<PoliticasAccesoDTO> PoliticasDelUsuarioEmpresa = new List<PoliticasAccesoDTO>();


    protected override Task OnInitializedAsync()
    {

        PoliticasParaUsuarioEmpresa = usuarioService.ObtenerPoliticasDeAccesoParaUsuarioEmpresa();
        return base.OnInitializedAsync();
    }

    private void MostrarComponenteTerceros()
    {
        if (componenteTerceros is not null)
        {
            componenteTerceros.Mostrar();

        }

    }

    private void CargarEmpleadoDesdeComponenteTerceros()
    {

        empresaDTO = componenteTerceros.TerceroSeleccionado;
        identificacionEmpresa = empresaDTO.Identificacion;
        nombreEmpresa = empresaDTO.RazonSocial;
        usuarioEmpresaDTO = usuarioService.ObtenerUsuarioPorIdentificacionDelTercero(empresaDTO.Identificacion);
        PoliticasDelUsuarioEmpresa = usuarioService.ObtenerPoliticasAccesoDeUsuarioParaConfiguracion(usuarioEmpresaDTO.Email);
    }

    public void CargarPoliticaDeUsuario(PoliticasAccesoDTO politicaUsuario)
    {
        bool politicaContenida = PoliticasDelUsuarioEmpresa.Any(pol => pol.Id == politicaUsuario.Id);
        if (politicaContenida)
        {
            if (PoliticasDelUsuarioEmpresa.FirstOrDefault(pol => pol.Id == politicaUsuario.Id).PoliticaExistente)
            {
                if (PoliticasDelUsuarioEmpresa.FirstOrDefault(pol => pol.Id == politicaUsuario.Id).Seleccionada)
                {
                    PoliticasDelUsuarioEmpresa.FirstOrDefault(pol => pol.Id == politicaUsuario.Id).Seleccionada = false;

                }
                else if (PoliticasDelUsuarioEmpresa.FirstOrDefault(pol => pol.Id == politicaUsuario.Id).Seleccionada is false)
                {
                    PoliticasDelUsuarioEmpresa.FirstOrDefault(pol => pol.Id == politicaUsuario.Id).Seleccionada = true;
                }
            }
            else
            {
                PoliticasDelUsuarioEmpresa.Remove(politicaUsuario);
            }

        }
        else
        {
            politicaUsuario.Seleccionada = true;
            politicaUsuario.PoliticaNueva = true;
            PoliticasDelUsuarioEmpresa.Add(politicaUsuario);

        }
    }

    private void ConfigurarPoliticas()
    {

        var politicasAconfigurar = PoliticasDelUsuarioEmpresa.Where(pol => (pol.PoliticaNueva && pol.Seleccionada) || (pol.PoliticaExistente && !pol.Seleccionada)).ToList().Count;

        if (PoliticasParaUsuarioEmpresa.Count == PoliticasDelUsuarioEmpresa.Count && politicasAconfigurar == 0)
        {
            modalConfirmacion.Mensaje = "Se han seleccionado todas las politicas de acceso";
            modalConfirmacion.Mostrar();
            return;

        }

        if (politicasAconfigurar == 0)
        {
            modalConfirmacion.Mensaje = "Debe seleccionar al menos una politica de acceso";
            modalConfirmacion.Mostrar();
            return;
        }


        


        var resultado = usuarioService.ConfigurarPoliticasDeUsuario(usuarioEmpresaDTO, PoliticasDelUsuarioEmpresa);
        if (resultado)
        {
            modalConfirmacion.Mensaje = "Configuracion de politicas de acceso exitosa";
            modalConfirmacion.Mostrar();
            PoliticasDelUsuarioEmpresa = usuarioService.ObtenerPoliticasAccesoDeUsuarioParaConfiguracion(usuarioEmpresaDTO.Email);

        }
        else
        {
            modalConfirmacion.Mensaje = "Configuracion de politicas de acceso fallida";
            modalConfirmacion.Mostrar();
        }

    }




    private void  RegistrarUsuario()
    {
        var resultado = usuarioService.InsertarUsuario(usuarioNuevo,empresaDTO.Identificacion,1);

        if (resultado)
        {
            modalConfirmacion.Mensaje = "se ha insertado correctamente el usuario";
            modalConfirmacion.Mostrar();
            usuarioEmpresaDTO = usuarioService.ObtenerUsuarioPorIdentificacionDelTercero(empresaDTO.Identificacion);

        }
        else
        {
            modalConfirmacion.Mensaje = "Inserción fallida del usuario";
            modalConfirmacion.Mostrar();
        
        }

    }

    private void Verificar()
    {
        var polisUsuario = PoliticasDelUsuarioEmpresa;     

    
    }
}
